/* Add your styles here. Take it piece by piece! */
h1, .bylines{
  font-family: sans-serif;
  font-size: 2.8rem;
}
main , header {
  font-family: "GT Sectra", serif;
  padding-left: 100px;
  padding-right: 100px;
}

link{
  font-family: SFMono-Regular,"Roboto Mono","Lucida Console",Monaco,Courier,monospace;
}
body{
  background-color: var(--body);
}
a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: var(--bright);
}

ul{
  list-style: none;
}

html {
  --bright: #D231A0;
  --accent: #E3FFF7;
  --body: #F3FFFC;
  /* these are for dark mode - the dark mode accent and body colors */
  --dma: #E3FFF7;
  --dmb: #D231A0;
}

/*Designing the Header*/

 .head1{
  display: grid;
  height: 100%;
  grid-column-gap: 2.5rem;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(2,-webkit-max-content);
  grid-template-rows: repeat(2,max-content);
  margin: 0;
  padding-top: 2.5rem;
}


nav ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.bs{
  position: relative;
  width: 100%;
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(8,1fr);
  align-items: center;
  padding-bottom: 2.5rem;
  box-sizing: inherit;
}
.bs-hed{
  font-size: 2rem;
  font-kerning: normal;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  box-sizing: inherit;
  display: block;
  --max-width: 1320px;
}
.bs-story{
  grid-column: 1/3;
}

.image-container img{
  width: 100%;
  box-sizing: inherit;
  height: auto;
}

.bs-img{
  grid-column: 3/span 6;
  grid-row: 1/span 1;
  padding-top: 10px;
}
.masthead-branding{
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  margin: auto;
}

.masthead-branding .masthead-branding-logo{
  display: block;
  text-align: left;
  font-size: 1.54rem;
  line-height: 1;
  margin-top: 1.4rem;
}

.masthead-categories{
  display: initial;
  grid-column: 3/span 6;
  grid-row: 2/span 1;
  border-top: 1px solid var(--pumice,#cacaca);
  border-bottom: 1px solid var(--pumice,#cacaca);
  margin:0;
}

/* Designing the subheader */

.rs{
    width: 100%;
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(8,1fr);
    align-items: start;
    padding: 2.5rem 0;
    border-top: 1px solid;
}
.rs-lab-cont{
  grid-column: 1/span 3;
  grid-row: 1/span 2;
}
.rs-cont--n3-i1{
  grid-column: 3/span 2;
  grid-row: 1/span 2;
  border-left: 1px solid black;
  padding-left: 10px;
  height:100%
}
.rs-cont--n3-i2{
  grid-column: 5/span 2;
  grid-row: 1/span 2;
  border-left: 1px solid black;
  padding-left: 10px;
  height: 100%;
}
.rs-cont--n3-i3{
  grid-column: 7/span 2;
  grid-row: 1/span 2;
  border-left: 1px solid black;
  padding-left: 10px;
  height: 100%;
}
.masthead-branding-tagline{
  font-size: 1.2rem;
}
.rs-rubric, .bs-rubric{
  color: var(--bright);
  font-size: 1.2rem;
}

.spotlight-header-title{
  font-size: 1.8rem;
}

/* Destiny part */
.block {
  display: grid;
  grid-template-columns: 25% 75%;
  border-top: 1px solid;
  padding-top: 25px;
  padding-bottom: 25px;
}

body .block .spotlight-content .spotlight-story  .image-container img{
  height:189px;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0px;
}

.block .spotlight-content{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.spotlight-header{
  padding: 0px 15px 0px 0px;
}

.spotlight-header-subtitle{
  font-size: 21px;
}

.spotlight-story-dateline a{
  color: var(--bright);
  text-transform: uppercase;
  text-decoration: none;
}
.spotlight-story-text .spotlight-story-link{
  color: black;
  text-decoration: none;}

 .spotlight-story-text {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}

.spotlight-story-author a {
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}
.spotlight-story-author a:hover{
  text-decoration:underline;
}
.spotlight-story:hover .spotlight-story-link, .spotlight-story:hover .spotlight-story-headline,.spotlight-story:hover .spotlight-story-author, .spotlight-story:hover .spotlight-story-author a{
  color:var(--bright)
}



/* footer */

footer {
  background-color: var(--bright);
  display: block ;
  padding-top: 80px;
  line-height: 1.5;
  max-width: 100%;
  margin: 39.6px;
  margin: 39.6px;

}

.footer-menu{
  margin: auto;
}

footer ul{
  list-style:none;
  display:flex;
  text-align: center;
  justify-content: center;
}

footer .menu-item a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size:13px;
  border-right: 1px solid white;
  padding: 0 15px;
}

.footer-copyright {
  color: #f1f1f1;
  text-align: center;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: .5px;
  padding-bottom: 15px;
}

/* These styles are for the disclaimer -- leave them alone */

.disclaimer {
  margin: 1em;
  padding: 4px;
  border: 1px solid hotpink;
}

body {
  margin: 0
}

/* copied */
