/* Add your styles here. Take it piece by piece! */













/* These styles are for the disclaimer -- leave them alone */

.disclaimer {
  margin: 1em;
  padding: 4px;
  border: 1px solid hotpink;
}

body {
  margin: 0
}